body {
  margin: 0;
  font-family: Arial, sans-serif;
}
button {
  margin-right: 10px;
  padding: 10px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}